.header-wrapper {
  display: block;
  width: 100%;
  margin: 0 auto;
  background-color: #121212;
  .header-list {
    display: flex;
    max-width: 80%;
    margin: 0 auto;
    color: $white;
    .header-wrapp {
      display: grid;
      grid-template-columns: 1fr 2fr 5fr 1fr 1fr 1fr;
      align-items: center;
      width: 100%;
      padding: 0;
      .input-wrapper {
        list-style: none;
      }
    }
    .header-items {
      list-style: none;
    }
    .header-menu {
      margin-left: 20px;
      background: #453d39;
      border-radius: 5px;
      padding: 5px 8px;
      cursor: pointer;
      font: bold 16px Verdana;
      &:hover {
        background: #5b504b;
      }
    }
    .logo-wrapper {
      text-decoration: none;
      padding: 3px;
      .logo-name {
        margin-top: 20px;
        padding: 6px 11px;
        background: orangered;
        border-radius: 7px;
        font: bold 21px Tahoma;
        color: $white;
      }
    }
    .header-link {
      border: none;
      padding: 7px 15px;
      background: #eda220;
      border-radius: 3px;
      cursor: pointer;
      color: $white;
      margin: 0 15px 0 4px;
    }
    .input-items {
      padding: 7px 15px;
      border-radius: 3px;
      color: $back;
      outline: none;
      border: none;
      width: 100%;
    }
  }
}

.input-form {
  display: flex;
  align-items: center;
}