.header-wrapper {
  display: block;
  max-width: 1920px;
  background-color: #121212;
  .header-list {
    display: flex;
    max-width: 80%;
    margin: 0 auto;
    color: $white;
    .header-wrapp {
      display: grid;
      grid-template-columns: 2fr 7fr 1fr 3fr 2fr;
      padding: 10px 0;
      align-items: center;
      .input-wrapper {
        list-style: none;
      }
    }
    .header-items {
      list-style: none;
    }
    .header-menu {
      margin-left: 35px;
    }
    .logo-wrapper {
      text-decoration: none;
      padding: 3px;
      .logo-name {
        margin-top: 20px;
        padding: 6px 11px;
        background: orangered;
        border-radius: 7px;
        font: bold 21px Tahoma;
        color: $white;
      }
    }
    .header-link {
      padding: 7px 15px;
      background: #eda220;
      border-radius: 3px;
      cursor: pointer;
      color: $white;
      margin: 0 15px 0 4px;
    }
    .input-items {
      padding: 7px 15px;
      border-radius: 3px;
      color: $back;
      outline: none;
      border: none;
      width: 100%;
    }
  }
}

.input-form {
  display: flex;
}