@import '~normalize.css';
@import 'style/fonts';
@import 'style/var';
@import 'style/style';
@import 'style/header';
@import 'style/main';
@import 'style/footer';
@import 'style/modal';
@import 'style/slider';

* {
  box-sizing: border-box;
}

#root {
  position: relative;
  min-height: 700px;
  padding-bottom: 80px;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}


