@import '~normalize.css';
@import 'style/fonts';
@import 'style/var';
@import 'style/style';
@import 'style/header';
@import 'style/main';
@import 'style/footer';
@import 'style/modal';
@import 'style/slider';

* {
  box-sizing: border-box;
}

#root {
  min-height: 700px;
  padding-bottom: 80px;
}

.button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    position: relative;
    left: 300%;
    button {
      border: none;
      border-radius: 5px;
      background-color: aqua;
      color: $white;
      width: 30px;
      height: 30px;
      cursor: pointer;
      &:hover {
        background-color: aquamarine;
      }
    }
    p {
      margin: 0 5px;
    }
}


